/* z-index */
:root {
  --z-background: 0;
  --z-content: 10;
  --z-header: 100;
  --z-sidebar: 200;
  --z-overlay: 900;
  --z-modal: 1000;
  --z-toast: 1100;
}

/* colors */
:root {
  --green: #15815e;
  --red: #811515;
  --blue: #154781;
  --gray: #555;
}

/* light mode */
:root,
:root[data-theme="light"] {
  --background: #ffffff;
  --background_secondary: #dcdfe4;

  --background_neg: #151e2e;
  --background_secondary_neg: #0b131e;

  --background_highlight: #15815f77;
  --background_premiun: #15815f40;

  --background_select: #949699;

  --detais: #182133;
  --color_primary: #15815e;
  --color_secondary: #6634de;

  --text: #000;
  --text_neg: #fff;

  --text_select: #fff;
  --text_unselect: #82878b;

  --shadows: rgb(255, 0, 0);

  --filter: invert(0);
  --filter2: invert(1);

  /*Scrollbar*/
  --thumb_color: #b4b6ba;
  --thumb_color_hover: #949699;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #151e2e;
    --background_secondary: #0b131e;

    --background_neg: #ffffff;
    --background_secondary_neg: #dcdfe4;

    --background_highlight: #6634de77;
    --background_premiun: #6634de0d;

    --background_select: #172133;

    --detais: #182133;
    --color_primary: #6634de;
    --color_secondary: #15815e;

    --text: #fff;
    --text_neg: #000;

    --text_select: #fff;
    --text_unselect: #6a798b;

    --shadows: rgb(255, 0, 0);

    --filter: invert(1);
    --filter2: invert(0);

    /*Scrollbar*/
    --thumb_color: #ffffff55;
    --thumb_color_hover: #ffffff1e;
  }
}
:root[data-theme="dark"] {
  --background: #151e2e;
  --background_secondary: #0b131e;

  --background_neg: #ffffff;
  --background_secondary_neg: #dcdfe4;

  --background_highlight: #6734de77;
  --background_premiun: #6634de0d;

  --background_select: #172133;

  --detais: #182133;
  --color_primary: #6634de;
  --color_secondary: #15815e;

  --text: #fff;
  --text_neg: #000;

  --text_select: #fff;
  --text_unselect: #6a798b;

  --shadows: rgb(255, 0, 0);

  --filter: invert(1);
  --filter2: invert(0);

  /*Scrollbar*/
  --thumb_color: #ffffff55;
  --thumb_color_hover: #ffffff1e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: var(--text_unselect); */
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb_color);
  border-radius: 6px;
  z-index: var(--z-toast);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb_color_hover);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-moz-scrollbar {
  width: 12px;
}

::-moz-scrollbar-thumb {
  background-color: var(--thumb_color);
  border-radius: 6px;
}

::-moz-scrollbar-thumb:hover {
  background-color: var(--thumb_color_hover);
}

::-moz-scrollbar-track {
  background-color: transparent;
}
