/* z-index */
:root {
  --z-background: 0;
  --z-content: 10;
  --z-header: 100;
  --z-sidebar: 200;
  --z-overlay: 900;
  --z-modal: 1000;
  --z-toast: 1100;
}

/* light mode */
:root,
:root[data-theme="light"] {
  --background: #ffffff;
  --background_secondary: #dcdfe4;

  --background_neg: #151e2e;
  --background_secondary_neg: #0b131e;

  --background_select: #949699;

  --detais: #182133;
  --color_primary: #15815e;
  --color_secondary: #6634de;

  --background_premiun: #15815f40;

  --text: #000;
  --text_neg: #fff;

  --text_select: #fff;
  --text_unselect: #82878b;

  --shadows: rgb(255, 0, 0);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #151e2e;
    --background_secondary: #0b131e;

    --background_neg: #ffffff;
    --background_secondary_neg: #dcdfe4;

    --background_premiun: #6634de0d;

    --background_select: #172133;

    --detais: #182133;
    --color_primary: #6634de;
    --color_secondary: #15815e;

    --text: #fff;
    --text_neg: #000;

    --text_select: #fff;
    --text_unselect: #6a798b;

    --shadows: rgb(255, 0, 0);
  }
}
:root[data-theme="dark"] {
  --background: #151e2e;
  --background_secondary: #0b131e;

  --background_neg: #ffffff;
  --background_secondary_neg: #dcdfe4;

  --background_premiun: #6634de0d;

  --background_select: #172133;

  --detais: #182133;
  --color_primary: #6634de;
  --color_secondary: #15815e;

  --text: #fff;
  --text_neg: #000;

  --text_select: #fff;
  --text_unselect: #6a798b;

  --shadows: rgb(255, 0, 0);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: var(--text_unselect); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
