:root,
:root[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #151e2e; /*alterar*/

  --background-select: #0b131e;

  --detais: #182133;
  --color_primary: #15815e;
  --color_secondary: #6634de;

  --text_select: #fff;
  --text_unselect: #82878b;

  --shadows: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151e2e;
    --background-secondary: #0b131e;

    --background-select: #172133;

    --detais: #182133;
    --color_primary: #6634de;
    --color_secondary: #15815e;

    --text_select: #fff;
    --text_unselect: #6a798b;

    --shadows: rgba(0, 0, 0, 0.1);
  }
}
:root[data-theme="dark"] {
  --background: #151e2e;
  --background-secondary: #0b131e;

  --background-select: #172133;

  --detais: #182133;
  --color_primary: #6634de;
  --color_secondary: #15815e;

  --text_select: #fff;
  --text_unselect: #6a798b;

  --shadows: rgba(0, 0, 0, 0.1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: var(--text_unselect); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
