.match {
  background: var(--background_secondary);
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-radius: 18px;
  gap: 20px;

  border: 1px solid var(--detais);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 20px;

  height: fit-content;
  max-width: 56%;
  min-width: 45%;
}

@media (width <= 767px) {
  .match {
    width: 100%;
    margin-top: 20px;
  }

  /* .homeTeam,
  .awayTeam {
    flex-direction: column !important;
  } */
}

/* .match:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0 1px var(--color_secondary);
} */

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 15px;
  container-type: inline-size;
}

/* TIMES */
.homeTeam,
.awayTeam {
  gap: 10px;
  align-items: center;
  color: var(--text_select);
  font-weight: 500;

  padding: 5px;

  max-width: 100%;

  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  @container (max-width: 350px) {
    flex-direction: column !important;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
  }
}

.homeTeam {
  justify-self: start;
  flex-direction: row;
  padding-right: 15px;
}

.awayTeam {
  justify-self: end;
  flex-direction: row-reverse;
  text-align: right;
}

/* ESCUDOS */
.img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  filter: drop-shadow(0 0 1px rgb(0, 0, 0));
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BOTÃO PALPITAR */
.palpitar {
  background: var(--color_secondary);
  color: var(--text_select);
  border: none;
  padding: 10px 22px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.palpitar:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

/* BOTÃO OLHO */

.eye {
  color: var(--text_unselect);
  width: max-content;
  margin-right: 20px;
  place-self: center;
}

/* informções central */

.centralInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;

  .stage {
    color: var(--text);
    background-color: var(--background_highlight);
    font-variant-caps: all-petite-caps;

    font-size: 14px;
    font-weight: 500;

    padding: 6px 9px;
    border-radius: 999px;
  }

  .date {
    color: var(--text_unselect);
    font-variant-caps: small-caps;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fakeStage {
  padding: 6px 9px;
  border-radius: 999px;
}

@media (width <= 767px) {
  .match {
    max-width: 100%;
  }
  .header {
    grid-template-columns: 1fr auto 1fr;
  }

  .homeTeam,
  .awayTeam {
    flex-direction: column;
    gap: 6px;
    width: 0px;
  }

  .homeTeam {
    align-items: flex-start;
  }

  .awayTeam {
    align-items: flex-end;
    text-align: right;
  }
}
