.match {
  background: var(--background_secondary);
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-radius: 18px;
  gap: 20px;

  position: relative;

  border: 1px solid var(--detais);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: all 0.3s ease;

  margin-top: 20px;

  height: fit-content;
  max-width: 56%;
  min-width: 45%;
  z-index: var(--z-content);
}

@media (width <= 767px) {
  .match {
    width: 100%;
    margin-top: 20px;
  }
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;

  .date {
    color: var(--text_unselect);
    font-variant-caps: small-caps;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .on {
    .icon,
    p {
      color: var(--green);
    }
  }

  .idle {
    .icon,
    p {
      color: var(--blue);
    }
  }

  .off {
    .icon,
    p {
      color: var(--red);
    }
  }

  .alertRound {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    gap: 5px;
    color: var(--text);

    p {
      font-size: large;
      font-variant-caps: all-small-caps;
      height: 22px;
    }
  }
}
/* BODY */
.body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 15px;
  container-type: inline-size;

  /* TIMES */
  .homeTeam,
  .awayTeam {
    gap: 10px;
    align-items: center;
    color: var(--text_select);
    font-weight: 500;

    padding: 5px;

    max-width: 100%;

    display: flex;
    @container (max-width: 350px) {
      flex-direction: column !important;
    }
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
  }
}
.body {
  .homeTeam {
    justify-self: start;
    flex-direction: row;
    padding-right: 15px;
  }

  .awayTeam {
    justify-self: end;
    flex-direction: row-reverse;
    text-align: right;
  }
}

/* ESCUDOS */
.img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  filter: drop-shadow(0 0 1px rgb(0, 0, 0));
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BOTÃO PALPITAR */
.palpitar {
  background: var(--color_secondary);
  color: var(--text_select);
  border: none;
  padding: 10px 22px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.palpitar:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

/* BOTÃO OLHO */

.eye {
  color: var(--text_unselect);
  width: max-content;
  margin-right: 20px;
  place-self: center;
}

/* informções central */

.centralInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;

  .stage {
    color: var(--text);
    background-color: var(--background_highlight);
    font-variant-caps: all-petite-caps;

    font-size: 14px;
    font-weight: 500;

    padding: 6px 9px;
    border-radius: 999px;
  }
}

.fakeStage {
  padding: 6px 9px;
  border-radius: 999px;
}

@media (width <= 767px) {
  .match {
    max-width: 100%;
  }
  .body {
    grid-template-columns: 1fr auto 1fr;

    .homeTeam,
    .awayTeam {
      flex-direction: column;
      gap: 6px;
      width: 0px;
    }

    .homeTeam {
      align-items: flex-start;
    }

    .awayTeam {
      align-items: flex-end;
      text-align: right;
    }
  }
}

/* Quando expandir a div */
.expanded {
  padding-bottom: 40px; /* dá espaço para o menu */
}

/* Menu de palpites */
.palpiteMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: slideDown 0.3s ease forwards;
  grid-column: 1 / -1; /* faz ocupar toda a largura do grid */
  position: relative;
  z-index: calc(var(--z-content) + 2);
  color: var(--text);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.teamsPicker {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.teamOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.teamOption img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.teamOption p {
  margin-top: 5px;
}

.teamOption:hover {
  transform: scale(1.05);
}

.selected.homeTeamPalpite {
  border-color: var(--color_primary);
}

.selected.tiePalpite {
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
        var(--background_secondary),
        var(--background_secondary)
      )
      padding-box,
    linear-gradient(
        67.5deg,
        var(--color_primary) 50%,
        var(--color_secondary) 50%
      )
      border-box;
}

.selected.awayTeamPalpite {
  border-color: var(--color_secondary);
}

.confirmButton {
  background: #555;
  color: var(--text_select);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.confirmButton.active {
  background: var(--green);
}

.blurOverlay {
  position: absolute; /* precisa que o pai seja relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);

  backdrop-filter: blur(2px); /* blur real */
  z-index: calc(var(--z-content) + 1); /* fica atrás do palpiteMenu */
  border-radius: 18px; /* combina com o .match */
}
.tiePalpite {
  img {
    filter: var(--filter);
  }
  p {
    color: var(--text);
  }
}

.statisticsMenu {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  gap: 5px;

  /* animação */
  animation: slideDown 0.3s ease forwards;

  /* opcional: inicia invisível se quiser efeito fade */
  opacity: 0;

  .homeTeam {
    background-color: var(--color_primary);
    width: 35%;
  }
  .tie {
    background-color: var(--gray);
    width: 30%;
  }
  .awayTeam {
    background-color: var(--color_secondary);
    width: 35%;
  }
  .premium {
    background-color: var(--background_highlight);
    width: 100%;
  }

  .homeTeam,
  .tie,
  .awayTeam,
  .premium {
    padding: 0px;
    height: 10px;
  }

  .homeTeam:hover,
  .tie:hover,
  .awayTeam:hover {
    transform: scale(1.01);
  }
}

.statisticGlobal,
.statisticFriends {
  display: flex;
  border-radius: 999px;
  overflow: hidden;
}

.statisticFriends {
}

.blockPremium {
  color: var(--color_primary) !important;
}
