/* 
  --color_primary: #6634de;
  --color_secondary: #15815e;

  --text_select: #fff;
  --text_unselect: #6a798b; */
@keyframes slideRight {
  from {
    transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.mobile {
  .sidebar {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: fixed;
    padding: 15px;
    gap: 5px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    top: 68px;
    color: var(--text_unselect);
    animation: slideRight 0.4s ease-out forwards;

    div {
      display: flex;
      flex-direction: row;
    }

    input {
      display: none;
    }
    label {
      flex-grow: 1;
      cursor: pointer;
      display: flex;
      padding: 15px;
      gap: 10px;
      font-size: x-large;
      justify-content: flex-start;
    }

    input:checked + label svg {
      color: var(--color_primary);
    }
    input:checked + label {
      color: var(--text_select);
      background-color: var(--background-select);
      border-radius: 15px;
    }
  }
}

.desktop {
  .sidebar {
    width: fit-content;
    height: 100vh;
    position: fixed;
    z-index: -10;
    padding: 15px;
    gap: 5px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    top: 68px;
    color: var(--text_unselect);

    div {
      display: flex;
      flex-direction: row;
    }

    input {
      display: none;
    }
    label {
      flex-grow: 1;
      cursor: pointer;
      display: flex;
      padding: 15px;
      gap: 10px;
    }

    input:checked + label svg {
      color: var(--color_primary);
    }
    input:checked + label {
      color: var(--text_select);
      background-color: var(--background-select);
      border-radius: 15px;
    }
  }
}

.open {
  display: flex !important;
}

.close {
  display: none !important;
}
