.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  width: 220px;
  padding: 6px;

  background: linear-gradient(
    180deg,
    var(--background),
    var(--background_secondary)
  );

  border-radius: 16px;
  border: 1px solid var(--background_secondary);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.55);

  animation: dropdownIn 0.18s ease;
  z-index: calc(var(--content) + 10);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
