/* ================= DROPDOWN CALENDÁRIO ================= */
.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: -10px;

  width: min-content;
  padding: 16px;

  background: linear-gradient(
    180deg,
    var(--background),
    var(--background_secondary)
  );
  border-radius: 18px;
  border: 1px solid var(--background_secondary);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.55);

  animation: dropdownIn 0.18s ease;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: calc(var(--z-header) - 1);
}

/* ================= HEADER ================= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: var(--background_secondary);
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.header button:hover:not(:disabled) {
  background: var(--background);
  transform: scale(1.1);
}

.header span {
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
  text-transform: capitalize;
}

/* ================= DIAS DA SEMANA ================= */
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 12px;
  color: var(--text_unselect);
  margin-bottom: 4px;
}

/* ================= GRID DE DIAS ================= */
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.day {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: var(--background_select);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.18s ease, transform 0.18s ease, color 0.18s ease;
  color: var(--text);
}

.day:hover:not(:disabled) {
  background: var(--color_primary);
  color: var(--text);
  transform: scale(1.1);
}

.day:disabled {
  opacity: 0.3;
  cursor: default;
  color: var(--text);
  /* color: var(--text_unselect); */
}

.selected {
  background: var(--color_secondary);
  color: var(--text_select) !important;
  font-weight: 600;
  box-shadow: 0 0 6px var(--color_secondary);
}

/* ================= ANIMAÇÃO ================= */
@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
