.alertMatches {
  background: var(--background_secondary);
  color: var(--text_select);

  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  border-radius: 10px;
  padding: 15px;
}
/* .infosRound,
.alertRound {

} */

.infosRound {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--text);
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-size: large;
  }

  p {
    color: var(--text_unselect);
    font-variant-caps: small-caps;
    font-size: small;
  }
}

.alertRound {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  gap: 5px;
  color: var(--text);

  .icon {
  }

  p {
    font-size: large;
    font-variant-caps: all-small-caps;
    height: 22px;
  }
}
