.alertMatches {
  background: var(--color_secondary);
  color: var(--text_select);

  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  border-radius: 10px;

  input {
    all: unset;
    background: var(--background-select);
    width: 50px;
  }
}
